<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Refuge SPA</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

</head>

<body>
    <header>
        <a href="/"><img src="/img/REFUGES_DE_FRANCE_V2.png" alt="logo Refuges de France" class="logo"></a>
        <div class="menu">
            <ul>
                <li><a href="/infosRefuge/listRefuges">Nos refuges</a></li>
                <li><a href="/animals/listAnimal">Nos animaux</a></li>
                <li class="login"><a href="/login"><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
    </header>