@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Définitions générales */
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

h1 {
	text-align: center;
}

.title_pages {
	margin-top: 1%;
}


/* En-tête/Menu/Logo */
.logo {
	width: 200px;
	height: 200px;
	transition: 0.5s ease-in-out;
}

.logo:hover {
	transform: scale(0.8);
}

header {
	display: flex;
	width:100%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	background-color: #dee2e6;
}

.menu {
	width: calc(100% - 200px);
}

.menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 200px;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 1.4em;
	transition: 0.2s;
	width: 100%;
}

.menu li a:first-child {
	margin-right: 70px !important;
}

.menu li a:hover {
	color: #f19820;
}

.menu .login {
	margin-left: calc(100% - 420px);
}


/* Aside menu (dashboard) */
aside.dashboard_menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #212529;
	height: 100%;
	z-index: 4;
	width: 12vw;
	box-shadow: black 0px 10px 10px, black 0px 6px 6px;
}

aside.dashboard_menu img {
	background-color: white;
	width: 150px;
	height: 150px;
}

aside.dashboard_menu ul {
	margin-top: 10%;
}

aside.dashboard_menu li {
	margin-left: 5%;
	list-style-type: none;
	margin-left: -4%;	
}

aside.dashboard_menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding-left: 10%;
	padding-right: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 1.2em;
	transition: 0.4s ease-in-out;
}

aside.dashboard_menu li a:hover {
	background-color: #171a1c;
	box-shadow:inset 0 15px 5px -16px #111;
	box-shadow:inset 0 -15px 5px -16px #111;
}

/* Dashboard */
.dashboard_content {
	margin-left: 12vw;
	padding-left: 2%;
}

.cards_suggest {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-row-gap: 20px;
	margin-top: 2%;
}

.cards_suggest a {
	margin-left:5%;
	margin-bottom: 2%;
}

/* Bannière accueil */
.banner_acc {
	padding-top: 2%;
	background: linear-gradient(to left, transparent, #f19820), url("/img/REFUGES_DE_FRANCE_V2.png");
	background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
	height: 80vh;
	width:100%;
	box-shadow:inset 0 -15px 5px -16px #111;
}

.banner_acc h1 {
	text-align: center;
}

.banner_content {
	margin-top: 5%;
	margin-left: 2%;
}

.banner_caption {
	margin-top: 1%;
	width:40%;
}

.btns_acc {
	margin-top: 2%;
	color: black !important;
}

/* contenu acc */
.animals_container {
	min-height: 40vh;
	padding-bottom: 5%;
}

/* Recherche */
.search_form {
	display: flex;
	flex-direction: column;
	transform: translateY(-35%);
	border: none;
}

.search_form input[type=text] {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px;
	width: 50% !important;
	border-radius: 10px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s ease-in-out;
}

.search_form input[type=text]:focus {
	border: 3px solid #3083dc;
	outline: none;
}

.search_form .btn_search {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	width: 30% !important;
	height: 50px !important;
	transition: 0.5s ease-in-out;
}

.search_form .btn_search:hover {
	background-color: #1e64ae !important;
}

/* .btn_search {
	background-color: #3083dc;
	color: white;
	width: 30%;
	text-align:center;
	text-decoration:none;
	margin-left:auto;
	margin-right:auto;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transition: 0.5s ease-in-out;
} */

.btn_search:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 5px 11px -1px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
	background-color: #1e64ae;
}

/* Animaux accueil */
.animals_container h2 {
	text-align: center;
}

/* Page de refuge */
/* table {
	width: 90%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	background-color: #dee2e6;
	border-collapse: collapse;
}

table th {
	padding: 1%;
	border: 1px solid gray;		
}

table td {
	padding: 1%;
	border: 1px solid gray;
} */

table {
	width: 90%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	margin-left: auto;
	margin-right: auto;
}

th,
td {
	padding: 15px;
	background-color: rgba(0,0,0,0.2);
	color: black;
}

th {
	text-align: left;
	background-color: #55608f;
	color: white;
}

tr {
	transition: 0.2s ease-in-out;
}

tr:hover {
	background-color: rgba(0,0,0,0.3);
}

td:hover td:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(0,0,0,0.2);
	z-index: -1;
}


.card_refuge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	border-radius: 15px;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5%;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.card_refuge li {
	list-style-type: none;
	margin-left: -4%;
	margin-top: 2%;
	margin-bottom: 2%;
}


.card_refuge .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 2%;
    border-radius: 360px;
    transform: translateY(-50%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.card_refuge .icon i {
	font-size: 1.6em !important;
	color: #f19820 !important;
}

.card_refuge .mainListRefuge {
	margin-top: -5%;
	margin-bottom: 5%;
	font-size: 1.2em;
}

.refugeName {
	text-align: center;
	font-size: 1.3em;
}

/* Page listAnimals */
.animals {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-row-gap: 20px;
	margin-top: 2%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.card_animal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s ease-in-out;
}

.card_animal img {
	width: 100%;
}

.card_animal:hover {
	cursor: pointer;
	box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.link_animal {
	text-decoration: none;
	background-color: #f19820;
	color: black !important;
	padding: 2%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin-bottom: 5%;
	transition: 0.5s ease-in-out;
}

.link_animal:hover {
	background-color: #d8800e;
}

.cardOneAnimal {
	margin-top: 2%;
	width: 50%;
}

.cardOneAnimal p {
	font-size: 1.2em;
	text-align: center;
}

.nameAnimal {
	text-align: center;
}

.other_informations p {
	float: left;
	width: 50%;
	margin-bottom: 10px;
}

/*formulaire*/

 /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

.form_add {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding: 2%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Admin panel */
.btn-container {
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.btn_container a {
	margin-right: 20% !important;
}

/* Footer */
footer {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background-color: #f19820;
	box-shadow:inset 0 15px 5px -16px #111;
}

footer a {
	color: black;
	text-decoration: none;
	transition: 0.2s;
}

footer a:hover {
	color: white;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 