<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    
    <title>Refuge SPA</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

</head>

<body>
	<aside class="dashboard_menu">
		<a href="/"><img src="/img/REFUGES_DE_FRANCE_V2.png" alt="logo Refuges de France" class="logo"></a>
		<ul>
			<li><a href="/infosRefuge/adminPanel">Accueil</a></li>
			<li><a href="/animals/listAnimal">Animaux</a></li>
			<li><a href="/admin/refuges">Refuges</a></li>
		</ul>
	</aside>
	<v-app class="dashboard_content">
		<div class="card_animal cardOneAnimal">
			<img src="/img/husky.jpg"/>
			<h2><% animal.nom %></h2>
			<div class="listInfoAnimal">
				<p class="nameAnimal"><% animal.description %></p>
				<div class="other_informations">
					<p><b>Frais : </b> <% animal.frais %> €</p>
					<p><b>Sexe : </b> <% animal.sexe %></p>
					<p><b>Couleur : </b> <% animal.couleur %></p>
					<p><b>Date de naissance : </b> <% animal.dnaissance %></p>
					<p><b>Espece :</b> <span v-for="race in animal.race"><% race.libelle %></span></p>
					<p><b>Refuge :</b> <span v-for="refuge in animal.refuge"><% refuge.nom %></span></p>
				</div>
				<v-btn @click="deleteAnimal(animal)" color="error" class="delete_btn">supprimer</v-btn>
			</div>
		</div>
	</v-app>
{{> inc/footer}}
{{{vue}}}
	