{{> inc/header}}
<v-app>
	<v-form action="formEspece" method="POST"  >
		<div class="field">
			<label>Frais</label>
			<input type="float" v-model="espece.frais" required="required" placeholder="Frais">
			<label>Espece</label>
			<input type="text" v-model="espece.libelle" required="required" placeholder="Espece">
		</div>
		
		<v-btn color="primary" @click="addEspece(espece)">Valider</v-btn>
		<!-- <input class="ui primary button" type="submit" value="Valider"> -->
	</v-form  >
</v-app>
 {{> inc/footer}}
{{{vue}}}