{{> inc/header}}

<!-- <h1>Bienvenue le site des Refuges De France</h1> -->
<div class="banner_acc">
	<h1>Bienvenue le site des Refuges De France</h1>
	<div class="banner_content">
		<h2>Découvrez nos refuges et nos animaux</h2>
		<p class="banner_caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic ab maxime ipsum? Blanditiis
			reprehenderit ut porro, culpa fugiat vero sequi similique perspiciatis repellendus natus quod voluptatem
			dolore cum dolorem.</p>
	</div>
</div>

<a href="/infosRefuge/refuge" ><i class="plus icon"></i>Ajouter un Refuge</a>
<a href="/jour" >Ajouter un jour d'ouverture</a>

<a href="/infosRefuge/listRefuges" >Voir les infos des refuges</a>
<a href="/animals/listAnimal">Voir les animaux</a>
<a href="infosRefuge/formRace">Ajouter une race</a>
<a href="/formEspece">Ajouter une espece</a>


<a href="/infosRefuge/refuge"><i class="plus icon"></i>Ajouter un Refuge</a>
<a href="/jour">Ajouter un jour d'ouverture</a>

<a href="/infosRefuge/race">Ajouter une race</a>
<a href="/infosRefuge/formEspece">Ajouter une espece</a>



{{> inc/footer}}
{{{vue}}}