{{> inc/header}}
<v-app>
	<h1>Nos refuges</h1>
	<table>
		<thead>
			<tr><th>Nom</th><th>Localisation</th><th>Complément d'adresse</th><th>Code postal</th><th>Ville</th><th>Téléphone</th><th colspan="4">Description</th></tr>
		</thead>
			<tr v-for="oneRefuge in refuges">
			<td><% oneRefuge.nom %></td> 
			<td><% oneRefuge.localisation %></td> 
			<td><% oneRefuge.complementad %></td> 
			<td><% oneRefuge.cp %></td> 
			<td><% oneRefuge.ville %></td> 
			<td><% oneRefuge.tel %></td> 
			<td><% oneRefuge.description %></td>
			<td><a :href="'/infosRefuge/refuge/' + oneRefuge.id" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default primary"><i class="far fa-eye"></i></a></td>
			 <td><v-btn @click="deleteRefuge(oneRefuge)" color="error">supprimer</v-btn></td>
			 <td><v-btn @click="modifRefuge(oneRefuge)" color="primary">Modifier</v-btn></td></tr>
	</table>
	
	
</v-app>

{{> inc/footer}}
{{{vue}}}