{{> inc/header}}
<div class="mentionsLegales">
<h1>Mentions légales</h1>
        <h2>Édition du site</h2>
        <p>
            Ce site (<a href="/"><b>Refuges De France</b></a>) est édité par <b>Nathan NICOLLE et Luc PAPILLON</b>
        </p>
        <h2>Hébergement</h2>
        <p>
            Ce site sera (un foi la mise en production réalisée)
            hébergé par la société <b>Supavenir</b>
        </p>
        <h2>Confidentialité</h2>
        <p>
            Ce site ne collecte aucune donnée nominative à votre insu. Votre adresse mail ne sera pas conservée
            à des fins commerciales ou statistiques, elle servira uniquement à vous recontacter. Ainsi vous acceptez
            en me contactant que je conserve votre adresse pendant une durée d'une semaine, afin de poursuivre les
            échanges engagés.
            <br>

            Si vous avez une question à propos de notre politique de confidentialité, merci de nous contacter par
            <a href="mailto:mail-contact@nathannicolle.fr">email</a>
        </p>
        <h2>Cookies</h2>
        <p>Nous n'utilisons et ne collectons aucun cookie interne ou tierce.</p>
        <h2>Données cartographiques</h2>
        <p>
            Nous n'utilisons et ne collectons aucune donnée cartographique.
        </p>
</div>
{{> inc/footer}}