{{> inc/header}}
<v-app>
	<h1>Bienvenue sur la page du refuge : <% refuge.nom %></h1>
	<ul>
		<li>Localisation : <% refuge.localisation %></li>
		<li>Rue : <% refuge.numeroetrue %></li>
		<li>Complément d'adresse : <% refuge.complementad %></li>
		<li>Code Postal/Ville : <% refuge.cp %> <% refuge.ville %></li>
		<li>Numéro de téléphone : <% refuge.tel %></li>
		<li>Description : <% refuge.description %></li>
		<li>Heures d'ouverture : <% horaires.hdebut %></li>
	</ul>
</v-app>
{{> inc/footer}}
{{{vue}}}
