{{> inc/header}}
<v-app>
	<h1>Bienvenue sur la page du refuge : <% refuge.nom %></h1>
	<ul>
		<li>Localisation : <% refuge.localisation %></li>
		<li>Rue : <% refuge.numeroetrue %></li>
		<li>Complément d'adresse : <% refuge.complementad %></li>
		<li>Code Postal/Ville : <% refuge.cp %> <% refuge.ville %></li>
		<li>Numéro de téléphone : <% refuge.tel %></li>
		<li>Description : <% refuge.description %></li>
		
		<li>Heures d'ouverture : 
			<ul v-for="horaire in refuge.horaire">
				<li><% horaire.joursemaine.libelle %> : <% horaire.plage.libelle %> <% horaire.hdebut %> -> <% horaire.hfin %></li>
			</ul>
		</li>
	</ul>
</v-app>
{{> inc/footer}}
{{{vue}}}